{% extends "layout.html" %}

{% load static %}

{% block headerExtension %}
<link rel="stylesheet" href="{% static "css/admin.css" %}">
{% endblock %}

{% block content %}

<section id="adminLogin">
    <div class="adminLoginWrapper">
        <h4>Admin Login</h4>
        <form class="adminLoginForm" action="/admin/" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
            <label for="password">Heslo:</label>
            <input type="password" id="password" name="password">
        </form>
        <input class="button" type="submit" value="PŘIHLÁSIT SE">
    </div>
</section>

{% endblock %}
