{% extends "adminLayout.html" %}

{% load static %}

{% block headerExtension %}

{% endblock %}
{% block content %}

    <section class="adminTab firstTab flexColumn">
        <span class="adminHubText">Vložení fotek do galerie</span>
        <button class="primaryButton adMarginTop">VYBRAT FOTKY</button>
        <button class="primaryButton adMarginTop">NAHRÁT FOTKY</button>
    </section>

    <section class="adminTab flexColumn adMarginTop">
        <span class="adminHubText">Odstranění fotek</span>
        <button class="primaryButton adMarginTop">ODSTRANIT JEDNOTLIVĚ</button>
        <button class="primaryButton redButton adMarginTop">ODSTRANIT VŠE</button>
    </section>

    <section class="adminTab flexColumn adMarginTop">
        <span class="adminHubText">Nahrávání dokumentů</span>
        <button class="primaryButton adMarginTop">NAHRÁT</button>
    </section>

    <section class="adminTab flexColumn adMarginTop">
        <span class="adminHubText">Změna hesla</span>
        <button class="primaryButton adMarginTop">ZMĚNIT HESLO</button>
    </section>

{% endblock %}

