{% extends "adminLayout.html" %}

{% load static %}

{% block content %}
<form>
{% csrf_token %}
</form>

    <section class="mainSection firstTab">
        <section class="adminGallery flex">
            {% for photo in photos %}
                <img id="{{photo.id}}" class="image" src="{{photo.url}}">
            {% endfor %}
        </section>
        <input class="primaryButton redButton adMarginTop" onclick="deletePicked()" type="submit" value="ODSTRANIT">
    </section>

{% endblock %}

{% block scripts %}
    <script src="{% static "js/deletePhotoPick.js" %}"></script>
{% endblock %}
