{% extends "layout.html" %}

{% load static %}

{% block headerExtension %}
    <link rel="stylesheet" href="{% static "css/docs.css" %}">
{% endblock %}
{% block content %}
<section id="docsLanding">
    <div class="header">
        <h1>Dokumenty</h1>
    </div>

    <div class="buttonsWrapper">
        <a href="docs/testFile.txt" download>
            <div class="button">
                <div class="buttonText">
                    <h5>PŘIHLÁŠKA</h5>
                    <p>pro rok 2021</p>
                </div>
                <div class="buttonIcon">
                    <img src="{% static "img/download.svg" %}" alt="Download">
                </div>
            </div>
        </a>

        <a href="docs/testFile.txt" download>
            <div class="button">
                <div class="buttonText">
                    <h5>GDPR</h5>
                    <p>pro rok 2021</p>
                </div>
                <div class="buttonIcon">
                    <img src="{% static "img/download.svg" %}" alt="Download">
                </div>
            </div>
        </a>
    </div>
</section>
{% endblock %}
