{% extends "userLayout.html" %}
{% load taborapp_extras %}

{% load static %}

{% block headerExtension %}
    <link rel="stylesheet" href="{% static "css/downloads.css" %}">
{% endblock %}
{% block content %}
    <section class="mainSection firstTab tab">

    {% for segment in mandatory %}
        <div class="downloadItem flex">
            <div class="downloadInformation flex">
                <span class="downloadNumber flex flexCenter">{{ forloop.counter }}</span>
                <div class="downloadText flex">
                    <span class="downloadName greyColor">{{ segment.name }}</span>
                    <a href="{{ segment.url }}" download><span class="downloadFileName">{{ segment.doc }}</span></a>
                </div>
            </div>
            <a href="{{ segment.url }}" class="downloadDocumentButton flex flexCenter" download=""><span class="material-icons greyColor">file_download</span></a>
        </div>
    {% endfor %}

    </section>

    <section class="tab" style="margin-top: 3rem;">

    {% for segment in voluntary %}
        <div class="downloadItem flex">
            <div class="downloadInformation flex">
                <span class="downloadNumber flex flexCenter">!</span>
                <div class="downloadText flex">
                    <span class="downloadName greyColor">{{ segment.name }}</span>
                    <a href="{{ segment.url }}" download><span class="downloadFileName">{{ segment.doc }}</span></a>
                </div>
            </div>
            <a href="{{ segment.url }}" class="downloadDocumentButton flex flexCenter" download=""><span class="material-icons greyColor">file_download</span></a>
        </div>
    {% endfor %}

    </section>
{% endblock %}
