<!DOCTYPE html>
<html>
    <head>
        {% load static %}

        <title>gallery2021</title>
        <link rel="icon" type="image/png" href="">

    <!-- REQUIRED META TAGS -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- GOOGLE FONTS -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- CSS -->
        <link rel="stylesheet" href="{% static "css/main.css" %}">
        <link rel="stylesheet" href="{% static "css/navbar.css" %}">
        <link rel="stylesheet" href="{% static "css/gallery.css" %}">
    </head>

    <body>

        <!-- NAVBAR -->
            <div id="navbar">
                <a href="index.html"><button class ="activeNav navLink">DOMŮ</button></a>
                <a href="docs.html"><button class="navLink">DOKUMENTY</button></a>
                <a href="gallery.html"><button class="activeNavLink navLink">FOTOGALERIE</button></a>
            </div>

            <section id="galleryLanding">
                <div class="header">
                    <h1>Fotogalerie 2021</h1>
                </div>
            </section>

            <section id="photos">
                <div class="photosWrapper">
                    <div class="photo">
                        <img src="photos/2021/IMG_20180613_003232.jpg" alt="ph1">
                    </div>
                    <div class="photo">
                        <img src="photos/2021/IMG_20180623_114910.jpg" alt="ph2">
                    </div>
                    <div class="photo">
                        <img src="photos/2021/IMG_20180627_174918.jpg" alt="ph3">
                    </div>
                    <div class="photo">
                        <img src="photos/2021/IMG_20180701_173448.jpg" alt="ph3">
                    </div>
                    <div class="photo">
                        <img src="photos/2021/IMG_20180701_173456.jpg" alt="ph3">
                    </div>
                    <div class="photo">
                        <img src="photos/2021/IMG_20180701_173457.jpg" alt="ph3">
                    </div>
                    <div class="photo">
                        <img src="photos/2021/IMG_20180711_152245.jpg" alt="ph3">
                    </div>
                </div>
            </section>
    </body>

    <!-- SCRIPTS -->
        <script src="scripts.js"></script>

</html>
