{% extends "layout.html" %}

{% load static %}

{% block headerExtension %}
<link rel="stylesheet" href="{% static "css/gallery.css" %}">
{% endblock %}

{% block content %}
<section id="galleryLanding">
    <div class="header">
        <h1>Fotogalerie</h1>
        <p> Nyní je rok {{year}} </p>
    </div>

    {% if year %}
        <section id="photos">
            <div class="photosWrapper">
                <div class="photo">
                    <img src="{% static "photos/2021/marcel.jpg" %}" alt="">
                </div>
            </div>
        </section>
    {% endif %}

    <div class="buttonsWrapper">
        <a href="/gallery/?year=2021"><button class="button">2021</button></a>
    </div>
</section>
{% endblock %}
