{% extends "userLayout.html" %}
{% load static %}
{% block headerExtension %}
<title>Tábor Střelka</title>
<link rel="stylesheet" href="{% static "css/landing.css" %}">
<link rel="stylesheet" href="{% static "css/master.css" %}">
{% endblock %}

{% block content %}
<section class="landingSection">
    <div class="imgAndName">
        <img src="{% static "img/taborWeb.png" %}" alt="Photo of camp">
        <div>
            <h1>TÁBOR<br>STŘELKA</h1>
        </div>
    </div>
    <div class="landingDesc">
        <p>Náš tábor je každoročně stavěn na louce u obce Zblovice. Stany jsou s dřevěnou podsadou a jídelna a kuchyně z omyvatelných nepromokavých plachet. Ke koupání využíváme místní říčku Želetavku kde probíhají i vodní táborové hry. K hygieně slouží mobilní sprcha a na vaření a čištění zubů denně vozíme pitnou vodu. Snažíme se žít v souladu s přírodou a to učíme i naše táborníky.</p>
    </div>
</section>
{% endblock %}