{% extends "userLayout.html" %}
{% load static %}
{% block headerExtension %}
    <link rel="stylesheet" href="{% static "css/landing.css" %}">
{% endblock %}

{% block content %}
    <section class="landingSection">
        <div class="imgAndName">
            <img src="{% static "img/Win11SE_bloom.png" %}" alt="">
            <div>
                <h1>TÁBOR<br>STŘELKA</h1>
            </div>
        </div>
        <div class="landingDesc">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec quis nibh at felis congue commodo. Nunc auctor. Cras pede libero, dapibus nec, pretium sit amet, tempor quis. Nunc dapibus tortor vel mi dapibus sollicitudin. Vivamus porttitor turpis ac leo. Nullam dapibus fermentum ipsum. Duis pulvinar. Phasellus faucibus molestie nisl. Pellentesque pretium lectus id turpis. Morbi scelerisque luctus velit. Nullam at arcu a est sollicitudin euismod.</p>
        </div>
    </section>
{% endblock %}