<!DOCTYPE html>
<html>
    <head>
        {% load static %}

        <title>Tábor Střelka</title>
        <link rel="icon" type="image/svg" href="{% static "img/favicon.svg" %}">

    <!-- REQUIRED META TAGS -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- CSS -->
        <link rel="stylesheet" href="{% static "css/master.css" %}">
        <link rel="stylesheet" href="{% static "css/navbar.css" %}">
        <link rel="stylesheet" href="{% static "css/footer.css" %}">
        <link rel="stylesheet" href="{% static "css/yearPick.css" %}">
        <link rel="stylesheet" href="{% static "css/gallery.css" %}">
        <link rel="stylesheet" href="{% static "css/downloads.css" %}">
        <link rel="stylesheet" href="{% static "css/admin.css" %}">

    {% block headerExtension %}
    {% endblock %}
    </head>

    <body>
            {% block navbar %}
            {% endblock %}
            {% block content %}
            {% endblock %}
            {% block footer %}
            {% endblock %}
    </body>
    <script src="{% static "js/fileUpload.js" %}"></script>
</html>
