{% extends "userLayout.html" %}
{% block content %}

<section class="tab firstTab">
    <form>
        <div class="inputWrap">
            <span class="inputHeader">E-mail</span>
            <input type="email" placeholder="E-mail" class="input">
        </div>
        <div class="inputWrap">
            <span class="inputHeader">Heslo</span>
            <input type="password" placeholder="Heslo" class="input">
        </div>
        <input type="submit" value="PŘIHLÁSIT" class="primaryButton">
    </form>
</section>

{% endblock %}