{% extends "userLayout.html" %}
{% block content %}

<section class="tab firstTab">
    <form class="adminLoginForm" name="login" method="POST" action="/login/">
        {% csrf_token %}

        <div class="inputWrap">
            <span class="inputHeader">E-mail</span>
            {{ form.username }}
        </div>

        <div class="inputWrap">
            <span class="inputHeader">Heslo</span>
            {{ form.password }}
        </div>
        <input type="submit" value="PŘIHLÁSIT" class="primaryButton">
    </form>
</section>

{% endblock %}
