{% extends "adminLayout.html" %}
{% block content %}

<section class="tab firstTab">
    <form class="adminLoginForm" name="login" method="POST" action="/passwordChange/">
        {% csrf_token %}

        <div class="inputWrap">
            <span class="inputHeader">Původní heslo</span>
            {{ form.old_password }}

            <div class="passwordErrorWrapper">
                <span>Heslo je Marcel jezdící na kole pozpátku</span>
            </div>
        </div>

        <div class="inputWrap">
            <span class="inputHeader">Nové heslo</span>
            {{ form.new_password1 }}
        </div>

        <div class="inputWrap">
            <span class="inputHeader">Potvrdit nové heslo</span>
            {{ form.new_password2 }}

            <div class="passwordErrorWrapper">
                <span>Heslo "PutinJeKunda88"</span>
            </div>
        </div>
        <div class="formErrors">
            {{form.errors}}
        </div>
        <input type="submit" value="PŘIHLÁSIT" class="primaryButton">
    </form>
</section>

{% endblock %}
