{% extends "adminLayout.html" %}
{% load static %}

{% block content %}

<section class="docTab firstTab flexColumn">
    <div class="documentUploadWrapper flexColumn">
        <span class="docName">1. Nástupní list</span>
        <form class="docDownWrapper flex" action="" method="POST">
            <div class="infoWrapper flex">
                <span class="downloadNumber flex flexCenter">1</span>
                <span class="docFileName">holyZadky.pdf</span>
            </div>

            <button id="doc1_fakeButton" onclick="clickHidden('doc1', 'browse')" type="button" class="docUploadButton flex flexCenter"><span class="material-icons">file_upload</span></button>
            <input id="doc1_browse" onchange="clickHidden('doc1', 'submit')" class="realDocUpload" type="file">
            <input id="doc1_submit" class="realDocUpload" type="submit">
        </form>
    </div>
</section>

<section class="docTab fTab flexColumn">
    <div class="documentUploadWrapper flexColumn">
        <span class="docName">1. Nástupní list</span>
        <form class="docDownWrapper flex" action="" method="POST">
            <div class="infoWrapper flex">
                <span class="downloadNumber flex flexCenter">1</span>
                <span class="docFileName">holyZadky.pdf</span>
            </div>

            <button id="doc1_fakeButton" onclick="clickHidden('doc1', 'browse')" type="button" class="docUploadButton flex flexCenter"><span class="material-icons">file_upload</span></button>
            <input id="doc1_browse" onchange="clickHidden('doc1', 'submit')" class="realDocUpload" type="file">
            <input id="doc1_submit" class="realDocUpload" type="submit">
        </form>
    </div>
</section>

{% endblock %}


{% block scripts %}
    <script src="{% static "js/docUpload.js" %}"></script>
{% endblock %}