{% extends "adminLayout.html" %}
{% load static %}

{% block content %}

<section class="docTab firstTab flexColumn">

    {% for segment in mandatory %}
    <div class="documentUploadWrapper flexColumn">

        <span class="docName">{{ forloop.counter }}. {{ segment.name }}</span>

        <form class="docDownWrapper flex" action="/uploadDocuments/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="infoWrapper flex">
                <span class="downloadNumber flex flexCenter">{{ forloop.counter }}</span>
                <span class="docFileName">{{segment.doc}}</span>
            </div>

            <button id="doc{{ forloop.counter0 }}_fakeButton"
                    onclick="clickHidden('doc{{ forloop.counter0 }}_browse')"
                    type="button" class="docUploadButton flex flexCenter">
                <span class="material-icons">file_upload</span>
            </button>

            {{ form.file }}
            {{ form.filetype }}
            <input type="submit" id="doc{{ forloop.counter0 }}_submit" class="realDocUpload">
        </form>
    </div>
    {% endfor %}

</section>

<section class="docTab fTab flexColumn">

    {% for segment in voluntary %}
    <div class="documentUploadWrapper flexColumn">

        <span class="docName">{{ forloop.counter }}. {{ segment.name }}</span>

        <form class="docDownWrapper flex" action="/uploadDocuments/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="infoWrapper flex">
                <span class="downloadNumber flex flexCenter">!</span>
                <span class="docFileName">{{ segment.doc }}</span>
            </div>

            <button id="doc{{ forloop.counter0|add:"1024" }}_fakeButton"
                    onclick="clickHidden('doc{{ forloop.counter0|add:"1024" }}_browse')"
                    type="button" class="docUploadButton flex flexCenter">
                <span class="material-icons">file_upload</span>
            </button>

            {{ form.file }}
            {{ form.filetype }}

            <input id="doc{{ forloop.counter0|add:"1024" }}_submit"
                class="realDocUpload" type="submit">
        </form>
    </div>
    {% endfor %}

</section>

{% endblock %}


{% block scripts %}
    <script src="{% static "js/docUpload.js" %}"></script>
{% endblock %}
