{% extends "userLayout.html" %}
{% load taborapp_extras %}

{% load static %}

{% block headerExtension %}
    <title>Tábor Střelka - Fotogalerie</title>
    <link rel="stylesheet" href="{% static "css/yearPick.css" %}">
{% endblock %}
{% block content %}
    <section id="yearPickSection">
        <section class="tab firstTab flexColumn flexCenter greyColor">
            <h3>Výběr roku</h3>
            <div class="flex yearPick">
                <a href="/gallery/?year=2021" class="primaryButton">2021</a>
                <a href="/gallery/?year=2022" class="primaryButton">2022</a>
            </div>
        </section>
    </section>
{% endblock %}
