#docsLanding {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #fff;
}

h5 {
    letter-spacing: 2px;
}

.header {
    margin-top: 5%;
    text-align: center;
}

.buttonsWrapper {
    margin-top: 10%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.button {
    padding: 20px 45px;
    background-color: transparent;
    border-radius: 20px;
    border: solid #fff;
    border-width: 3px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
}

.button:hover {
    background-color: #a1b746;
}

.buttonText {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 13pt;
    letter-spacing: 1px;
}

.buttonIcon img {
    width: 50px;
}
