#landing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    color: #fff;
    margin-top: 10%;
    text-align: center;
    letter-spacing: 5px;
}

.buttonsWrapper {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.button {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 13pt;
    letter-spacing: 1px;
    padding: 20px 45px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    color: #a1b746;
    background-color: rgba(255, 255, 255, 0.9);
}

.button:active {
    color: #a1b746;
    background-color: rgba(255, 255, 255, 0.9);
}
