body {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-size: 70pt;
    font-weight: 700;
}

h3 {
    font-size: 50pt;
    font-weight: 700;
}

h4 {
    font-size: 18pt;
    font-weight: 500;
    margin-block-end: 0;
    margin-block-start: 0;
}

h5 {
    font-size: 15pt;
    font-weight: 700;
    margin-block-end: 0;
    margin-block-start: 0;
}

h6 {
    font-size: 12pt;
    font-weight: 500;
    margin-block-end: 0;
    margin-block-start: 0;
}

p {
    font-size: 10pt;
    font-weight: 200;
    margin-block-end: 0;
    margin-block-start: 0;
}

a {
    text-decoration: none;
}


/* FOOTER */

#footer {
    width: 100%;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
    text-align: center;
}

#contactHeader {
    width: 100%;
    margin-top: 1%;
}

.contactBlockWrapper {
    width: 50%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-around;
}

.contactBlock {
    width: 30%;
}


@media only screen and (max-width: 450px) {
    h3 {
        font-size: 30pt;
        font-weight: 700;
    }

    #contactHeader {
        margin-bottom: 5%;
    }

    .contactBlockWrapper {
        width: 70%;
        align-items: center;
        flex-direction: column;
    }

    .contactBlock {
        width: 100%;
        margin-bottom: 10%;
    }
}
