@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}


/* - Text - */

h1 {
    font-size: 6rem;
    font-weight: 700;
}

h2 {
    font-size: 4rem;
    font-weight: 600;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
}

h5 {
    font-size: 2.3rem;
    font-weight: 600;
}

p {
    font-size: 1.4rem;
    font-weight: 400;
}


/* - Used Elements - */

/* Tabs */

.mainSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstTab {
    margin-top: 10rem;
}

.tab {
    width: 75rem;
    padding: 2.5rem 6rem;
    border-radius: 1.6rem;
    background-color: #FCF8EF;
}

.tab form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Inputs */

.inputWrap {
    width: 100%;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputHeader {
    width: 34%;
    margin-bottom: 0.5rem;
    font-size: 1.7rem;
    font-weight: 500;
    color: #2B2A28;
}

.input {
    width: 30%;
    padding: 1rem 1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    border: solid 0.3rem #708F36;
    border-radius: 1rem;
    transition: 0.2s;
}

/* Buttons */

.primaryButton {
    cursor: pointer;
    padding: 1rem 3rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: #fff;
    background-color: #708F36;
    border: none;
    border-radius: 0.8rem;
    transition: 0.2s;
}

.primaryButton:hover {
    background-color: #566E29;
}

.primaryButton:active {
    transform: scale(.90);
}

.redButton {
    background-color: #FF4646;
}

.redButton:hover {
    background-color: #c23535;
}


/* - Small Classes - */

.flex {
    display: flex;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexCenter {
    justify-content: center;
    align-items: center;
}

.greyColor {
    color: #2B2A28;
}

.whiteColor {
    color: #FFF;
}

/* Responsivity */
/* 768px */

@media only screen and (max-width: 768px) {
  h1 {
      font-size: 4rem;
      margin-block-start: 0;
      margin-block-end: 0;
  }

  p {
      font-size: 1.3rem;
  }
}
