#navbar {
    width: 100%;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: #85992a;
    box-shadow: 0 0 9px rgba(56, 56, 56, 0.4);
}

.navLink {
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    letter-spacing: 0.5pt;
    cursor: pointer;
    border: none;
    background-color: #85992a;
    padding: 17px 40px;
    font-weight: 500;
    color: #fff;
    transition: 0.3s;
}

.navLink:hover {
    background-color: #6f8023;
}

.activeNavLink {
    background-color: #a1b746;
}
